/* -- STYLES OF THE MODUALS --*/

.card{
    height:100%;
    width: 100%;
    background-color: #FAFAFA;
    position:relative;
    overflow: hidden;
}

.top{
    background-color:white;
    border-bottom: 2px solid #e7e7e7;
    text-align:center;
    padding: 22px;
}

.top h2{
    display:inline-block;
    vertical-align:middle;
    font-family:"Montserrat";
    color: #2ab0b9;
    font-size: 1em;
    text-transform:uppercase;
    font-weight:bold;
    margin: 0;
    
}


.expand{
    height:15%;
    width: 100%;
    background-color:white;
    border-top: 2px solid #e7e7e7;
    text-align:center;
    position:absolute;
    bottom: 0px;
    transition: bottom 0.5s ease;
}

.center{
    display:inline-block;
    height: 100%;
    vertical-align:middle;
}

#arrow{
    display:inline-block;
    vertical-align:middle;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);

}

/* --ITINERARY STYLE -- */ 

.itinerary {
    padding:0;
}

.itinerary div.heads{
    padding-top: 5px;
    display: block;
    text-align: center;
}

.itinerary li.head{
    display: inline-block;
}

.profilePictures {
    margin-bottom: 0px;
    height: 60px;
}


.excluded {
    height: 100%;
    vertical-align: bottom;
}

.itinerary div.schedule{
    margin-top: -17px;
    padding: 0 10px 10px 10px;
    width:100%;
    text-align:center;
    height: 20%;
    background-color: #e9f2f3;
}

.timeline {
    position: relative;
}

.timeline .line{
    display: block;
    margin: 0 auto;
    width: 3px;
    height: 100px;
    background-color: #fff;
}

.timeline .ico-timeline-ball {
    position: absolute;
    top:20px;
    left: 1px;
    background: url('../../images/timeline-ball.png') no-repeat left;
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

.itinerary .cita{
    padding-top: 20px;
    font-family: "Montserrat";
    font-size: 16px;
    color: #2ab0b9;
}

.itinerary .cita span,
.itinerary .cita .action {
    float: left;
}

.itinerary .cita .action {
    text-align: left;
}

.itinerary div.location{
    padding: 5px;
    text-align: left;
    width: 100%;
    text-align: center;
    border: 1px solid #2ab0b9;
    height: ;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 0 auto 0 auto;
}

.itinerary img.locationIcon{
    height: 18px;
    width: 14px;
}

.itinerary h2.barcelona{
    font-family: "Montserrat";
    font-size: 16px;
    color: #2ab0b9;
    display:inline;
}    

.itinerary div.buttons{

}

.itinerary ul.optionButtons li {
    font-size: 12px;
}

.itinerary li.what{
    display:inline-block;
    padding: 7px;
    background-color: #2ab0b9;
    color:white;
    border-radius:4px;

}

.itinerary #delay-options ul {
    display: block;
    text-align: center;
    margin: 0;
}

.itinerary #delay-options ul li {
    border:1px solid rgb(240, 239, 239);
    border-radius: 4px;
    padding: 8px 0;
}


/* -- END OF ITINERARY CARD --*/

/* -- NEARBY CARD -- */

.nearby .content{
    background-color:#f3f3f3;
    background-image: url('../../images/bigMap.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.nearby #moon{
    position:absolute;
    top:68%;
    left: 72%;
}

.nearby #globe{
    position:absolute;
    top: 30%;
    left: 18%;
}

.nearby #dot{
    position:absolute;
    left: 10%;
    top: 73%;

}

/* -- END OF NEARBY CARD -- */

/* -- ALBUM CARD -- */

.album .content{

}

.album .pictures{
  width: 100%;
  text-align: center;
  background-color: #f3f3f3;
}

/* line 52, ../sass/screen.scss */
.album .image {
  display: inline-block;
  height: 95px;
  width: 30%;
  text-align: center;
  margin: 0 2.5px;
}

/* line 61, ../sass/screen.scss */
.album #pic1 {
  background-image: url("../../images/pic1.png");
  background-size: 100%;
}

/* line 66, ../sass/screen.scss */
.album #pic2 {
  background-image: url("../../images/pic2.png");
  background-size: 100%;
}

/* line 72, ../sass/screen.scss */
.album #pic3 {
  background-image: url("../../images/pic3.png");
  background-size: 100%;
}

/* line 77, ../sass/screen.scss */
.album #pic4 {
  background-image: url("../../images/pic4.png");
  background-size: 100%;
}

/* line 82, ../sass/screen.scss */
.album #pic5 {
  background-image: url("../../images/pic5.png");
  background-size: 100%;
}

/* line 87, ../sass/screen.scss */
.album #pic6 {
  background-image: url("../../images/pic1.png");
  background-size: 100%;
}

/* -- END OF ALBUM CARD -- */


/* -- BRING CARD --*/

.bring .modualContainer{
    width: 100%;
    position: absolute;
    bottom: 5%;
}

.modualContainer input {
    width: 100%;
    height: 34px;
}

.bring form label {
    margin: 5px 0;
    padding: 5px 0;
}

.bring .items {
    padding: 0 20px;
}

.bring button[type=submit]{
    background-color: #ef5350;
    color: white;
}
/* -- END OF BRING CARD -- */


/* -- FEEDS CARD -- */

.feed .content{
    text-align:center;
    padding: 10px;
}

.feed .location{
    padding: 20px 10px;
}

.feed .location img{
    position:relative;
    margin:10% auto 0 auto;
    height: 60px;
    width:auto;

}

.feed .weather {
    font-size: 1.5em;
    color:white;
    text-transform:bold;
    width:auto;
    position:relative;
    margin: 2% auto 0 auto;
    
}

.feed .location h3{
    font-size: 1em;
    color: white;
    font-family: "Montserrat";
    position:relative;
    margin: 10% auto 0 auto;
}

.feed .location p{
    font-size: 12px;
    color:white;
    font-family: "Montserrat";
    position:relative;
    margin: 5% auto 0 auto;
}

.feed #annecy{
    background-image: url('../../images/bkg1.png');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
}

.feed #encinitas{
    background-image: url('../../images/bkg2.png');
    background-size:cover;
    background-repeat:no-repeat;
    width: 100%;
}

/* -- END OF FEEDS CARD -- */

/*-- BUDGET CARD -- */

.budget .remaining{
    text-align:center;
    width:100%;
    background-color:#f3f3f3;
}

.budget .remaining h2{
    font-family: "Montserrat";
    font-size: 1.1em;
    color: #2ab0b9;
    vertical-align:middle;
    margin:0;
    padding: 10px;
}

.budget .remaining strong{
    font-size: 1.2em;
    margin: 0 0.5% 0 0.5%;
    font-weight:bold;
}

.budget table td,
.budget table tr {

    padding: 20px 20px 0px 20px;
    font-family: "Montserrat";

}

.budget .cost{
    color: #2ab0b9;
    border-right: 2px solid #f3f3f3;
}

.budget .item{
    color:#b7b7b7;
    padding-left: 10%;
}


@media(max-width:767px) {

    .nearby .content{
    height: 300px;
    }

    .modules-ongoing-link #bring,
    .modules-ongoing-link #album,
    .modules-ongoing-link #budget {
        display: block;
        margin: 0 auto;
        width: 28px;
        height: 26px;
    }

    .modules-ongoing-link a {
        padding: 40px;
        border-left: 1px solid #2ab0b9; 
    }

    .itinerary div.schedule{
    padding: 0 20px 20px 20px;
}

    .itinerary {
        background-color: #fff;
    }

    .feed .content{
        padding: 0px;
        margin-left: -5px;
        margin-right: -5px;
    }

    .feed .feed-item {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}

@media(min-width:767px) {
    .top {
        padding: 14px;
    }
}