div.offerCard {
  height: 100%;
  width: 100%;
  background-color: white;

}

.offerCard .offer-content {
  display: block;
  position: relative;
  height: 100%;
}

.offerCard div.destinationIMG {
  height: 50%;
  width: 100%;
  background-image: url("../../images/bk3.png");
  background-size: 100%;
}

.offerCard div.LPinfo,
.offerCard div.offer-price{
  padding: 6% 4% 4% 4%;
  display: block;
}

.offerCard div.offer-price {
  text-align: right;
  padding-left: 0;
}

.offerCard h2 {
  font-family: "Montserrat";
  font-size: 1.1em;
  color: #2ab0b9;
}

.offerCard div.LPinfo p {
  font-family: "Montserrat";
  font-size: 1em;
  color: #939393;
  margin-bottom: 0;
  }

.offerCard div.LPinfo img {
  margin: 2% 0 0 3%;
  position:relative;
}
.offerCard div.icons{
  text-align:center;
  position: relative;
}

.offerCard ul {
  margin-top: -20px;
}

.offerCard li{
  display:inline-block;
}


