div.offerCard {
  height: 100%;
  width: 100%;
  background-color: white;

}

.offerCard .offer-content {
  display: block;
  position: relative;
  height: 100%;
}

.offerCard div.destinationIMG {
  height: 50%;
  width: 100%;
  background-image: url("../../images/bk3.png");
  background-size: 100%;
}

.offerCard div.LPinfo{
  width: 100%;
  background-color: white;
}

.offerCard div.LPinfo h2 {
  font-family: "Montserrat";
  font-size: 1.3em;
  color: #2ab0b9;
  margin: 5% 0 5% 3%;
}

.offerCard div.LPinfo p {
  font-family: "Montserrat";
  font-size: 1em;
  color: #939393;
  margin-left:3%;
  position:relative;
  }

.offerCard div.LPinfo img {
  margin: 2% 0 0 3%;
  position:relative;
}
.offerCard div.icons{
  text-align:center;
  position: relative;
}

.offerCard ul {
  margin-top: -20px;
}

.offerCard li{
  display:inline-block;
}


