/* ===== RESETS =====
   ================== */

.relative {
	position: relative;
}

.ohidden {
	overflow: hidden;
}

.half-width  {
	width: 50%;
}
/*
* {
	border: 1px solid red;
}

* * {
	border: 1px solid blue;
}

* * * {
	border: 1px solid yellow;
}

* * * * {
	border: 1px solid green;
}

* * * * * {
	border: 1px dotted red;
}

* * * * * * {
	border: 1px dotted blue;
}

* * * * * * * {
	border: 1px dotted yellow;
}

* * * * * * * * {
	border: 1px dotted green;
}

* * * * * * * * * {
	border: 1px dashed red;
}

* * * * * * * * * * {
	border: 1px dashed blue;
}

* * * * * * * * * * * {
	border: 1px dashed yellow;
}

* * * * * * * * * * * * {
	border: 1px dashed green;
}
*/
/* Fonts */

@font-face {
  font-family: 'montserrat-regular';
  src: url('../fonts/montserrat-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-regular-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-regular-webfont.svg#montserrat-regular') format('svg'); /* Legacy iOS */
   font-weight: normal;
   font-style: normal;
}

body {
	font-family: 'montserrat-regular', sans-serif;
	font-weight: normal;
}

a {
	color: #fff;
}

.pagination>.active>a, 
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	background-color: rgba(249, 247, 247, 0.1);
	border: 1px solid #fff;
	border-radius: 4px;
}

.pagination li a {
	border-radius: 4px;
}

.pagination li a:hover {
	background-color:rgba(249, 247, 247, 0.1);
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
border-radius: 4px;
}

.form-control {
	background: transparent;
}

input {
	background-color: rgba(255, 255, 255, 0.27); 
}

/* Buttons */

.btn-default {
	height: 30px;
	background-color: #ef5350;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700px;
	border: 0;
	font-size: 11px;
}

.btn-secondary {
	height: 30px;
	background-color: transparent;
	text-transform: uppercase;
	color: #ef5350;
	font-weight: 700px;
	border: 2px solid #ef5350;
	font-size: 11px;
}

/*secondary menu*/

.secondary-menu {
	background-color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.secondary-menu a{
	color: #2AB0B9;	
	padding: 20px 0;
}


.secondary-menu .active {
	color: #2AB0B9;
	border-bottom: 2px solid #2AB0B9;
	text-decoration: none;
}

.create .form-control {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}

.create .form-group label {
	color: #fff;
}

.create h3 {
	color: #fff;
}

.create .dropdown-toggle {
	color: #fff;
}


/* icons */

.icon {
	font-style: normal;
	display: inline-block;
}

.ico-trips {
	background: url('../ico/trips_icon.png') no-repeat left;
	width: 22px;
	height: 22px;
	vertical-align: bottom;
	margin-right: 6px;
}

.ico-explore {
	background: url('../ico/trips_icon.png') no-repeat left;
	width: 22px;
	height: 22px;
	vertical-align: bottom;
	margin-right: 6px;
}

.ico-profile {
	background: url('../ico/trips_icon.png') no-repeat left;
	width: 22px;
	height: 22px;
	vertical-align: bottom;
	margin-right: 6px;
}

.ico-settings {
	background: url('../ico/trips_icon.png') no-repeat left;
	width: 22px;
	height: 22px;
	vertical-align: bottom;
	margin-right: 6px;
}

.ico-plus {
	background: url('../ico/plus.png') no-repeat left;
	width: 32px;
	height: 28px;
	vertical-align: middle;
	margin-right: 6px;
}

.ico-add-to-trip {
	margin: 5px auto;
	display: block;
	background: url('../ico/add.png') no-repeat center;
	width: 40px;
	height: 35px;
}

.ico-location {
	margin: 5px auto;
	background: url('../ico/location.png') no-repeat center;
	width: 40px;
	height: 39px;
}



/* ===== GENERAL =====
   ================== */

body {
	background: url('../images/bg-image.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	color: #939393;

}

.aside {
	overflow: scroll; 
}

.container {
	max-width: 1024px;
	margin-top: 114px;
	margin-left: 0;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;

}


/* ===== HEADER =====
   ================== */

/* Navbar */

.navbar-default {
	background-color: #2ab0b9;
	margin-bottom: 0;
	border: 0px;
} 

.navbar-default .navbar-nav li a {
	color: #9CD0D0;
	font-size: 14px;
	font-weight: 700;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus
.navbar-default .navbar-nav li a:hover {
	background: #1E9FA8;
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	background: #1E9FA8;
	color: #fff;
}

.navbar-default .navbar-nav .active a {
	background: none;
	color: #fff;
}

.navbar-default .navbar-brand {
	color: #fff;
}


/* Secondary Navbar Trips*/

.secondary-nav {
	background-color: #2c525d;
	float: left;
	width: 100%;
	margin-bottom: 8px;
}

.secondary-nav li {
	display: inline-block;
	float: left;
	text-align: center;
	position: relative;
}

.secondary-nav li a {
	padding: 15px 0;
	display: block;
}

.secondary-nav li:hover {
	background-color: #1D3C45;
}

.secondary-nav li.active:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 8px solid #2C525D;
}

.secondary-nav li.active:hover:after {
	border-top-color: #1D3C45;
}

.secondary-nav li a {
	color: gray;
}

.secondary-nav li.active a {
	color: #FFF;
}

.secondary-nav li a:hover {
	text-decoration: none;
}

.crear-cont {
	position: absolute;
	right: 0;
}


/*===== MODULES ======
  ====================*/

/*----ONGOING-------*/

.module-ongoing {
	background: #f3f3f3;
	position: relative;
}




/*------TRIPS------*/

.module-trips {
	background: #f3f3f3;
}

.trips article:first-of-type .module-trips {
	margin-top: 20px;
}

.options_admin {
	padding: 20px;
}

.options_admin button {
	width: 183px;
}

/*----OFFERS--------*/

.module_offers {
	background: #BEBDBD;
	width: 271px;
	height: 263px;
	margin: 0 auto;
}

.aside .module_offers {
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.aside .module_offers:first-of-type {
	margin-top: 20px;
}

/* Steps */

.module-steps {
	background-color: gray;
	border-bottom: 1px solid #fff;
}


/* =====ONGOING CONTENT =====
   ================== */

.details {
  	height: 50px;
}

.aside_hidden {
	display: block;
	background-color: red;
	height: 100%;
	width: 40px;
	margin-top:100px;
	float: right;
}

.ongoing .modules article {
	padding: 10px;
}





/* ===PLANNING CONTENT ===
   ================== */

.trip {
	margin-bottom: 20px;
}

.trips-summary {
	height: 100px; 
	background-color: gray;
}

.trip-card {
	height: 196px;
	display: block;
	background: #BEBDBD;
	margin-top: 20px;
	margin-bottom: 20px;
}

.trip-cards .deciding,
.trip-cards .decided {
	text-align: center;
}

.trip-cards .decided div div {
	background: gray;
}


.module-trips h3 {
	background-color: #fff;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.deciding h3 {
	margin-left: -5px;
}

.decided h3 {
	margin-right: -5px;
}

.step-content {
	background-color: gray;
	height:50px;
}


/* == CREATE CONTENTS==
   =================== */ 

body.create {
	background: url('../images/bg-create-image.jpg') no-repeat center;
	background-size: cover;
}

section.aside.add_steps_drag {
	text-align: center;
	background-color: #416772;
	color: #fff;
	overflow: visible;
}

.add_steps_drag {
	background-color: #416772;
	color: #fff;
}

section.aside.add_steps_drag div.module-steps{
	margin: 0 auto;

}

.add_steps_drop {
	float: left;
	width: 100%;
}

.add_steps_drop div {
	margin-bottom: 10px;
}

.add_steps_drop .droppable {
	text-align: center;
	height: 50px;
	border: 2px dashed #fff;
}

.add_steps_drop div .droppable span {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ui-state-highlight {
	background-color: #fff;
}


/* == IDEAS N OFFERS CONTENT==
   ======================== */ 

.explore .aside {
	top: 50px;
	z-index: 9999;
}

.friends_liked {
	float: left;
	width: 100%;
	background-color: #e5e5e5;
	padding-top: 20px;
	padding-bottom: 40px;
}

.friends_liked h3 {
	text-align: center;
}

.filters {
	min-height: 105px;
	background-color: #fff;
}

.results {
	background-color: #f3f3f3;
	padding-top: 30px;
}

.filters {
	padding: 36px 20px;
}

.filters .form-control {
	width: 100%
}

.search {
	padding: 0;
}

.search input[type="submit"] {
	position: absolute;
	top: 14%;
	right: 2%;
	border: 0;
	background: url('../ico/search.png') no-repeat right;
	width: 20px;
	height: 20px;
}

.search input[type="search"]{
	border: 0px;
	height: 100%;
	width: 100%;
	padding-left: 5px;
}

.explore .trips-summary,
.create-from-offer {
	padding-top: 15px;
	margin: 18px auto;
	width: 290px;
}

.create-from-offer .dropdown-toggle {
clear: both;
display: block;
}

.trips-list {
	text-align: center;
	padding: 20px;
}

.create-from-offer {
	height: 100px;
	border: 2px dashed #2c2c2c;
}

.input-append .add-on {
	display: inline-block;
	width: auto;
	height: 20px;
	min-width: 16px;
	padding: 4px 5px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	background-color: #eeeeee;
	border: 1px solid #ccc;
}

.pagination>li>a, .pagination>li>span {
	background-color: transparent;
	border: 0;
	color: #939393;
}

.result-pages {
	text-align: center;
	padding: 20px;
}

.pagination {
	margin: 0;
}

.pagination>li {
display: inline-block;
}


/* ===== PROFILE =====
   =================== */ 



section.profile-data.pull-right {
	background-color: #416772;
	width: 340px;
	height: 100%;
	margin-top: 50px;
	padding: 20px;
	color: #fff;
}

.past-trips {
	margin-top: 50px;
}


.past-trips .map-trips {
	height: 100%;
	position: relative;
	z-index: -9999;
}

.past-trips .map {
	width: 100%;
	position: absolute;
	top:100px;
	left: 0;
}

.past-trips div.section_title {
	height: 50px;
	background-color: #2c525d;
	text-align: center;
	margin-bottom: 40px;
}

.past-trips .section_title p {
	position: relative;
	padding: 15px 0;
	color: #fff;
	margin: 0;
}

.past-trips .section_title p:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 8px solid #2C525D;
}

.past-trips .trips-summary {
	width: 290px;
	height: 105px;
	display: inline-block;
}

/*Profile*/


.edit-btn {
	background: url('../images/edit-profile.png') no-repeat center;
	width: 20px;
	height: 20px;
}

.profile_pic {
	clear: both;
	width: 197px;
	height: 197px;
	border-radius: 99px;
	border: 4px solid #fff;
	display: block;
	margin: 20px auto;
}

.user-info {
	text-align: center;
	margin-bottom: 40px;
}

.friend {
	margin-bottom: 20px;
	background-color: #F9F7F7;
	padding: 10px;
	color: #6C6C6C;
}


.user-friends h3 {
	text-align: center;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}

.user-friends img {
	float: left;
	margin-right: 20px;
}

.user-friends p {
	margin-bottom: 0;
}

.user-friends .form-control {
	width: 100%;
	position: relative;
}

.user-friends .pagination>li>a, .pagination>li>span {
	color: #fff;
}

.friends[data-friends="1"] li.friend_2,
.friends[data-friends="1"] li.friend_3,
.friends[data-friends="1"] li.friend_4,
.friends[data-friends="1"] li.friend_5,
.friends[data-friends="1"] li.friend_6 {
	display: none;
}

.friends[data-friends="2"] li.friend_3,
.friends[data-friends="2"] li.friend_4,
.friends[data-friends="2"] li.friend_5,
.friends[data-friends="2"] li.friend_6 {
	display: none;
}

.friends[data-friends="3"] li.friend_4,
.friends[data-friends="3"] li.friend_5,
.friends[data-friends="3"] li.friend_6 {
	display: none;
}

.friends[data-friends="4"] li.friend_5,
.friends[data-friends="4"] li.friend_6 {
	display: none;
}

.friends[data-friends="5"] li.friend_6 {
	display: none;
}

.profile .result-pages {
	padding: 0;
}

.user-friends .search input[type="search"]{
	color: #fff;
}

.profile input,
.profile select {
	background-color: #365c67;
	border-radius: 4px;
	height: 40px;
}

.edit_profile .form-control {
	display: block;
	width: 100%;
	color: #fff;
}

.edit_profile fieldset {
	margin-bottom: 20px;
}

.change_user_pic {
	position: relative;
}


.edit_profile .edit-btn {
	position: absolute;
	top: 47%;
	left:47%;
}

.end-editing {
	height: 40px;
}


/* == ITINERARY PAGE ==
   =================== */ 




/* == MEDIA QUERIES ==
   =================== */ 

@media(min-width: 1199px) {
	#trip1 {
	position: absolute;
	top: 58%;
	right: 51%;
	}

	#trip2 {
		position: absolute;
		top: 60%;
		right: 3%;
	}

	#trip3 {
		position: absolute;
		top: 34%;
		right: 32%;
	}
}

@media(max-width: 1199px) {

	.past-trips-content {
		padding: 0;
	}

	.user-info {
		margin-top: 50px;
		padding: 20px 20px 0 20px;
		color: #fff;
	}

	.edit_profile {
		margin-top: 50px;
		padding: 20px;
		text-align: center;
	}

	.edit_profile fieldset,
	.edit_profile select {
		width: 290px;
		margin: 0 auto;
	}

	.profile input,
	.profile select {
	background-color: rgba(66, 67, 68, 0.25);
	}

	.end-editing {
		width: 290px;
		margin: 20px auto;
	}

	.past-trips .section_title {
		display: none;
	}

	.past-trips {
		background-color: #f3f3f3;
		padding: 40px;
		margin-top: 0;

	}

	.user-friends {
		background-color: #416772;
	}

	.past-trips .map-trips {
		z-index: 0;
	}

	.past-trips .ico-location {
		display: none;
	}

	.past-trips .trips-summary {
		width: 100%
	}

	.user-friends h3 {
		display: none;
	}

	.user-friends {
		padding: 40px;
	}
}

@media(min-width:1340px) {

	
	#aside-trigger {
		display: none;
	}

	#main.aside-visible {
		margin-left: 0 !important;
	}

}

@media(max-width: 1340px) {
	.add_steps_drag {
		position: fixed;
		bottom: 0px;
		width: 100%;
		padding-left: 20px;
	}

	.add_whats_drag {
		position: fixed;
		bottom: 0px;
		width: 100%;
		padding-left: 20px;
	}

	.module-steps {
		display: inline-block;
	}

	#main.create {
		margin-bottom: 300px;
	}

	.explore .aside {
		display: none;
	}

	.explore .container {
		margin-left: auto !important;
		margin-right: auto;
	}
}

@media(min-width: 992px) {
	.pad0L-md {
		padding-left: 0;
	}

	.pad0R-md {
		padding-right: 0;
	}
}


@media(min-width:768px) {

	header {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	}

	.navbar-nav > li > a {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.crear-cont .btn {
	float: right;
	margin-top: 10px;
	width: 182px;
	}

	#main {
		transition: all 0.5s;
	}

	#main.aside-visible {
		margin-left: -300px;
	}

	#aside-trigger {
		position: absolute;
		top: 0;
		left: 0;
	}

	.aside {
		position: fixed;
		top: 100px;
		width: 340px;
		padding: 0;
		right: -300px;
		height: 100%;
		background-color: #f3f3f3;
		transition: all 0.5s;
	}

	#main.aside-visible .aside {
		right: 0;
	}

}


@media(max-width:767px) {
	
	/* General */

	.container {
		padding: 0px;
		margin-top: -10px;
	}

	.width25-xs {
		width: 25%;
	}


	/* primary-menu */

	.primary-menu {
		width: 100%;
		display: inline;
		position: fixed;
		bottom: 0;
		background-color: rgb(42, 176, 185);
		clear: both;
		margin-left: -5px;
	}

	.primary-menu ul {
		margin: 0 auto;
	}

	.primary-menu li {
		float: left;
		padding: 0;
	}

	.primary-menu li a {
		text-align: center;
	}

	.primary-menu li a .icon {
		display: block;
		margin: 0 auto;
	}


	/* secondary-menu */

	.crear-cont {
		position: inherit;
		margin: 10px 0;
	}

	.crear-cont button {
		height: 50px;
	}


	/* modulos */

	.modules {
		padding: 0;
	}
	.ongoing .modules article {
		padding: 0;
	}

	section.modules.trips {
		background-color: #fff;
		padding: 10px;
	}

	/*trips*/

	.planning section.aside {
		background-color: gray;
		padding: 10px;
	}

	.module_offers {
		width: 100%
	}

	.trip-card {
		height: 100px;
		margin-top: 10px;
		margin-bottom: 0;
	}

	.decided,
	.deciding {
		clear: both;
	}
}


/** CAMBIOS BOOTSTRAP


@grid-gutter-width: 10px;

**/

