@@ -1,1776 +0,0 @@
/* ===== RESETS =====
   ================== */

.relative {
	position: relative;
}

.ohidden {
	overflow: hidden;
}

.half-width  {
	width: 50%;
}

.no-border{
	border: 0 !important;
}

.crear-cont .btn {
	padding: 0
}

.crear-cont .btn a {
	padding: 9px 50px;
}



/*
* {
	border: 1px solid red;
}

* * {
	border: 1px solid blue;
}

* * * {
	border: 1px solid yellow;
}

* * * * {
	border: 1px solid green;
}

* * * * * {
	border: 1px dotted red;
}

* * * * * * {
	border: 1px dotted blue;
}

* * * * * * * {
	border: 1px dotted yellow;
}

* * * * * * * * {
	border: 1px dotted green;
}

* * * * * * * * * {
	border: 1px dashed red;
}

* * * * * * * * * * {
	border: 1px dashed blue;
}

* * * * * * * * * * * {
	border: 1px dashed yellow;
}

* * * * * * * * * * * * {
	border: 1px dashed green;
}
*/
/* Fonts */

@font-face {
  font-family: 'montserrat-regular';
  src: url('../fonts/montserrat-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-regular-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-regular-webfont.svg#montserrat-regular') format('svg'); /* Legacy iOS */
   font-weight: normal;
   font-style: normal;
}

body {
	font-family: 'montserrat-regular', sans-serif;
	font-weight: normal;
}

h2 {
	margin: 0;
	font-size: 20px;
	font-weight:700;
}

a {
	color: #fff;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

p{
	font-size:13px;
	font-weight:300;
}

.pagination>.active>a, 
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	background-color: rgba(249, 247, 247, 0.1);
	border: 1px solid #fff;
	border-radius: 4px;
}

.pagination li a {
	border-radius: 4px;
}

.pagination li a:hover {
	background-color:rgba(249, 247, 247, 0.1);
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
border-radius: 4px;
}

.checkbox {
	margin-bottom: 5px;
	margin-top: 5px;
}

.form-control {
	background: transparent;
}

input {
	background-color: rgba(255, 255, 255, 0.27); 
}

.chat input {
	background-color: #fff;
}

/* Buttons */

.btn-default {
	height: 30px;
	background-color: #ef5350;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700px;
	border: 0;
	font-size: 11px;
}

.btn-secondary {
	height: 30px;
	background-color: transparent;
	text-transform: uppercase;
	color: #ef5350;
	font-weight: 700px;
	border: 2px solid #ef5350;
	font-size: 11px;
}

.btn-secondary a {
	color: #ef5350;
}

.btn-aside {
	background-color: transparent;
	border: 0;
}

.planning .btn-aside {
	background: url('../ico/offer.png') no-repeat center;
	width: 28px;
	height: 25px;
	margin: 5px 10px;
}

/*secondary menu*/

.secondary-menu,
.secondary-menu-trip {
	background-color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.secondary-menu a,
.secondary-menu-trip a {
	color: #2AB0B9;	
	padding: 20px 0;
	display: block;
}

.secondary-menu .active,
.secondary-menu-trip .active {
	color: #2AB0B9;
	border-bottom: 2px solid #2AB0B9;
	text-decoration: none;
}

.create .basic-info .form-control {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}

.create .form-group label {
	color: #fff;
}

.create h3 {
	color: #fff;
}

.create .dropdown-toggle {
	color: #fff;
}


/* icons */

.icon {
	font-style: normal;
	display: inline-block;
}

.ico-trips {
	background: url('../ico/trips_icon.png') no-repeat left;
	width: 22px;
	height: 22px;
	vertical-align: bottom;
	margin-right: 6px;
}

.ico-explore {
	background: url('../ico/explore.png') no-repeat left;
	width: 22px;
	height: 22px;
	vertical-align: bottom;
	margin-right: 6px;
}

.ico-details {
	background: url('../ico/details.png') no-repeat right;
	width: 24px;
	height: 27px;
	vertical-align: middle;
	margin-left: 11px;
}

.ico-profile {
	background: url('../ico/profile.png') no-repeat left;
	width: 22px;
	height: 22px;
	vertical-align: bottom;
	margin-right: 6px;
}

.ico-on-time {
	background: url('../ico/on-time.png') no-repeat left;
	width: 20px;
	height: 20px;
	vertical-align: bottom;
	}

.ico-settings {
	background: url('../ico/settings.png') no-repeat left;
	width: 22px;
	height: 22px;
	vertical-align: bottom;
	margin-right: 6px;
}

.ico-plus {
	background: url('../ico/plus.png') no-repeat left;
	width: 32px;
	height: 28px;
	vertical-align: middle;
	margin-right: 6px;
}

.ico-add-to-trip {
	margin: 5px auto;
	display: block;
	background: url('../ico/add.png') no-repeat center;
	width: 40px;
	height: 35px;
}

.ico-add-blue{
	margin: 5px 2px;
	display: block;
	background: url('../ico/add-blue.png') no-repeat center;
	width: 22px;
	height: 22px;
}

.ico-location-pink {
	margin: 5px auto;
	background: url('../ico/location-pink.png') no-repeat center;
	width: 40px;
	height: 39px;
}

.ico-location-line{
	vertical-align: middle;
	margin-left: 10px;
	transform: translateY(-11%);
	background: url('../ico/location-line.png') no-repeat center;
	width: 22px;
	height: 22px;
}

.ico-location-gray {
	margin: 5px auto;
	background: url('../ico/location-gray.png') no-repeat center;
	width: 22px;
	height: 22px;
}

.ico-location-blue {
	background: url('../ico/location-blue.png') no-repeat center;
	width: 40px;
	height: 39px;
}

.ico-star {
	background: url('../ico/star-blue.png') no-repeat center;
	width: 15px;
	height: 15px;
	vertical-align: text-top;
	margin-right: 6px;
}

.ico-calendar-line{
	vertical-align: middle;
	margin-left: 10px;
	transform: translateY(-11%);
	background: url('../ico/calendar-line.png') no-repeat center;
	width: 22px;
	height: 22px;
}
.ico-calendar-blue {
	background: url('../ico/calendar-blue.png') no-repeat center;
	width: 40px;
	height: 39px;
}
.ico-what-blue {
	background: url('../ico/what-blue.png') no-repeat center;
	width: 40px;
	height: 39px;
}

.ico-what-line{
	vertical-align: middle;
	margin-left: 10px;
	transform: translateY(-11%);
	background: url('../ico/what-line.png') no-repeat center;
	width: 22px;
	height: 22px;
}

.ico-wallet-blue {
	background: url('../../images/upcoming/wallet.png') no-repeat center;
	width: 40px;
	height: 39px;
}

.ico-wallet-line{
	vertical-align: middle;
	margin-left: 10px;
	transform: translateY(-11%);
	background: url('../ico/wallet-line.png') no-repeat center;
	width: 22px;
	height: 22px;
}

.ico-how-line{
	vertical-align: middle;
	margin-left: 10px;
	transform: translateY(-11%);
	background: url('../ico/how-line.png') no-repeat center;
	width: 22px;
	height: 22px;
}

.ico-who-line{
	vertical-align: middle;
	margin-left: 10px;
	transform: translateY(-11%);
	background: url('../ico/who-line.png') no-repeat center;
	width: 22px;
	height: 22px;
}

.ico-ongoing {
	margin: 0 auto;
	background: url('../ico/ongoing.png') no-repeat left;
	width: 20px;
	height: 28px;
	vertical-align: bottom;
}

.ico-planning {
	margin: 0 auto;
	background: url('../ico/planning.png') no-repeat left;
	width: 27px;
	height: 26px;
	vertical-align: bottom;
	}

.ico-upcoming {
	margin: 0 auto;
	background: url('../ico/upcoming.png') no-repeat left;
	width: 22px;
	height: 26px;
	vertical-align: bottom;
}




/* ===== GENERAL =====
   ================== */

body {
	background: url('../images/bg-image.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	color: #939393;

}

.aside {
	overflow: scroll; 
}

.aside-2 {
	overflow: scroll; 
}

.aside-trigger {
	background-color: transparent;
	background: url('../ico/chat.png') no-repeat center;
	width: 37px;
	height: 49px;
	border: 0;
}

.container {
	max-width: 1024px;
	margin-left: 0;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;
}

label.of-checkbox {
	position: relative;
	padding-left: 25px !important;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + span {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('../images/checkbox.png') no-repeat center;
	position: absolute;
	top: 50%;
	transform: translateY(-60%);
	-webkit-transform: translateY(-60%);
	-moz-transform: translateY(-60%);
	left: 0;
}

input[type="checkbox"]:checked + span {
	background: url('../images/tick.png') no-repeat center;
}

.chat-module {
	overflow: hidden;
}

.chat.panel {
	background-color: transparent;
	height: 100%;
}

.chat .panel-footer {
	width: 100%;
	height: 72px;
	background-color: #fff;
	border-radius: 0;
	border: 0;
	padding: 20px;
}

.chat .panel-footer .enter-message {
	width: 80%;
	display: inline-block;
	padding-right: 10px;
}

.chat .panel-footer .enter-message input {
	width: 100%
}

.chat .panel-footer button {
	width: 20%;
	display: inline-block;
}

.chat .media-body {
	text-align: left;
}

.chat .media-body p {
	background-color: #fff;
	border-radius: 8px;
	padding: 10px;
}

.aside .chat .panel-footer {
	position: absolute;
	bottom: 0;
}

.panel-body {
	overflow-y: scroll;
	height: 100%
}



/* ===== HEADER =====
   ================== */

/* Navbar */

.navbar-default {
	background-color: #2ab0b9;
	margin-bottom: 0;
	border: 0px;
} 

.navbar-default .navbar-nav li a {
	color: #9CD0D0;
	font-size: 14px;
	font-weight: 700;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus
.navbar-default .navbar-nav li a:hover {
	background: #1E9FA8;
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	background: #1E9FA8;
	color: #fff;
}

.navbar-default .navbar-nav .active a {
	background: none;
	color: #fff;
}

.navbar-default .navbar-brand {
	color: #fff;
}


/* Secondary Navbar Trips*/

.secondary-nav {
	background-color: #2c525d;
	float: left;
	width: 100%;
	margin-bottom: 0;
}

.secondary-nav li {
	display: inline-block;
	float: left;
	text-align: center;
	position: relative;
}

.secondary-nav li a {
	padding: 15px 0;
	display: block;
}

.secondary-nav li:hover {
	background-color: #1D3C45;
}

.secondary-nav li.active:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 8px solid #2C525D;
}

.secondary-nav li.active:hover:after {
	border-top-color: #1D3C45;
}

.secondary-nav li a {
	color: gray;
}

.secondary-nav li.active a {
	color: #FFF;
}

.secondary-nav li a:hover {
	text-decoration: none;
}

.crear-cont {
	position: absolute;
	right: 0;
}


/*===== MODULES ======
  ====================*/

/*----ONGOING-------*/

.module-ongoing {
	position: relative;
}

.optionButtons {
	font-size: 13px;
}



/*------TRIPS------*/

.module-trips {
	background: #f3f3f3;
}

.trips article:first-of-type .module-trips {
	margin-top: 20px;
}

.options_admin {
	padding: 20px;
}

.options_admin button {
	width: 183px;
}

.upcoming .deciding h3,
.upcoming .decided h3 {
	display: none;
}



/*----OFFERS--------*/

.module_offers {
	background: #BEBDBD;
	width: 271px;
	height: 263px;
	margin: 0 auto 28px auto;
}

.aside-2 .module_offers {
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.aside-2 .module_offers:first-of-type {
	margin-top: 20px;
}

/* Steps */

.module-steps {
	height: 50px;
	width: 100%;
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}

.module-steps:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

.module-steps-inner {
	background: gray;
	color: #fff;
	height: 100%;
}

.chat-module {
	height: 100%;
}

/* =====ONGOING CONTENT =====
   ================== */

.details {
  	height: 50px;
}

.aside_hidden {
	display: block;
	background-color: red;
	height: 100%;
	width: 40px;
	margin-top:100px;
	float: right;
}

.ongoing .modules article {
	padding: 10px;
}

.ongoing .modules article {
	padding: 10px;
}

.ongoing .modules article.aside {
	padding: 0px;
}

.details { 
	color: #2c525d;
	padding-top: 10px;
	padding-bottom: 10px;
}

.details p {
	font-size: 18px;
	font-weight: normal;
	padding-left: 5px;
	display: inline-block;

}

/*module content*/
#content-itinerary .modal-header {
	padding: 0;
}

#content-itinerary .modal-body {
	background-color: #f3f3f3;
}

#content-itinerary .schedule {
	background-color: transparent;
}

#content-itinerary .cita {
	padding: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0.1);
}

#content-itinerary .map-itinerary img {
	width: 100%;
	border: 10px solid white;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0.1);
}

#content-itinerary .map-itinerary {
	height: 397px;
	margin-top: 54px;
}

#content-itinerary .attached {
	padding-top: 20px;
}

#content-itinerary .attached img {
	width: 49%;
}

#content-itinerary .profilePictures {
	z-index: 999999;
	position: relative;
	margin-bottom: -9px;
}

#content-itinerary .timeline {
	margin-top: -72px;
	height: 504px;
	margin-bottom: -50px;

}

#content-itinerary .timeline .line {
	height: 100%;
}

#content-itinerary .ico-timeline-ball {
	top: 100px;
	left: 9px;
}

/* ===PLANNING CONTENT ===
   ================== */

.trip {
	margin-bottom: 20px;
}

.trips-summary {
	height: 100px; 
	background-color: gray;
}

.trip-card {
	height: 196px;
	display: block;
	background: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0.1);
}


.trip-cards .deciding,
.trip-cards .decided {
	text-align: center;
}

.trip-cards .decided div div {
	background: #e6e6e6;
}


.module-trips h3 {
	background-color: #fff;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.deciding h3 {
	margin-left: -5px;
}

.decided h3 {
	margin-right: -5px;
}

.decided .trip-card h3 {
	background: transparent;
}


.options_upcoming,
.options_admin {
	z-index: 99999;
	padding: 10px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,.1);
}

.planningCard {
	padding-top: 15%;
}

.planningCard h3 {
	margin-left: 0;
	padding-bottom: 5px;
}

.planningCard .comments-votes {
	margin: 0px 15px;
	padding-top: 10px;
	border-top: 1px solid rgb(232, 231, 231);
}

.planningCard .re-open {
	margin: 0px 15px;
	padding-top: 20px;
	border-top: 1px solid rgb(192, 191, 191);
}

.re-open .btn-default:hover {
	background-color: #888787;
	color: #fff;
}

.planningCard .comments-votes p {
	margin: 0;
}

.trip-to-vote {
	text-align: center;
}

.upcoming .trip-cards {
	padding: 0 10px;
	background-color: #f3f3f3;
}

.upcoming .trip-card {
	margin-top: -30px;
	height: 140px;
	padding-top: 20%;
}

.upcoming .trip-countdown {
	text-align: center;
}

.upcoming .trip-card h3 {
	color: #2ab0b9;
	padding-top: 10px;
	padding-bottom: 5px;
}

.trips-summary h2,
.trips-summary p {
	padding-top: 10px;
}

/* Step content */

.step-content {
	height: 390px;
	background-color: #fff;
}

/*------Where------*/



select.admin-button {
	margin-top: 15px;
	width: 90%;
	margin: 0 auto;
	background-color: #ef5350;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700px;
	border: 0;
	font-size: 11px;
}

.where-map {
	height: 100%;
	padding: 25px;
	text-align: center;
}

.voting-content {
	padding: 25px;
}

.voting-content .option {
	margin-bottom: 15px;
}

.option-display {
	color: gray;
	float: left;
	width: 70%;
	border: 1px solid #B0ABAB;
	border-radius: 4px;
	margin-bottom: 20px;
}

i.ico-location-gray,
p.location-title {
	float: left;
}

.voting-content .location-title {
	padding: 6px;
	margin: 0;
}

.voting-content .btn-default {
	height: 34px;
	width: 100px;
	margin-left: 10px;
}

button.btn-vote {
	margin-left: 10px;
	width: 100px;
	text-transform: uppercase;
	font-size: 13px;
	height: 34px;
}

.btn-vote-active {
	background-color: #ef5350; 
}

.btn-vote-active.ico-star {
	background: url('../ico/star.png');
}

.option .voters {
	float: left;
	clear: both;
}

.option .voters img {
	float: left;
}

.option .voters p {
	float: left;
	padding: 15px;
}

.where-map .sitges {
	background: url('../images/map_sitges.png') no-repeat center;
	width: 90%;
	height: 80%;
	margin:10px auto;
	background-size: cover;
}

.where-map .puertosm {
	background: url('../images/map_puertosm.png') no-repeat center;
	width: 90%;
	height: 80%;
	margin:10px auto;
	background-size: cover;
}


/* == CREATE CONTENTS==
   =================== */ 

body.create {
	background: url('../images/bg-create-image.jpg') no-repeat center;
	background-size: cover;
}

section.aside.add_steps_drag {
	text-align: center;
	background-color: #416772;
	color: #fff;
	overflow: visible;
}

.add_steps_drag {
	background-color: #416772;
	color: #fff;
}

section.aside.add_steps_drag div.module-steps{
	margin: 10px auto;

}

.add_steps_drop {
	float: left;
	width: 100%;
}

.add_steps_drop .droppable {
	text-align: center;
	min-height: 50px;
	border: 2px dashed #fff;
	margin-bottom: 10px;
}

.add_steps_drop .droppable.dragging {
	background-color: rgba(255,255,255,0.6);
	border-color: #416772;
}

.add_steps_drop .droppable.drop-hover {
	opacity: 0.3;
}

.add_steps_drop div .droppable span.add-step-droppdown {
	display: block;
	padding-top: 9px;
	padding-bottom: 9px;
}

.ui-state-highlight {
	background-color: #fff;
}

.draggable .create-step-content {
	display: none;
}

.create-step-content {
	background-color: #fff;
	color: #939393;
	padding: 20px;
	text-align: left;
}


.module-steps {
	border-bottom: 1px solid rgba(42, 176, 185, 0.70);
}

.module-steps:last-child {
	border: 0;
}


.module-steps-inner .step-title {
	background-color: #2c525d;
	text-align: left;
}

.droppable .step-title p.hidden {
	display: inline-block !important;
	visibility: visible !important;
}

.module-steps-inner h3 {
	display: inline-block;
	margin: 0;
	padding: 15px;
	text-align: left;
}


/* == IDEAS N OFFERS CONTENT==
   ======================== */ 

.discount {
	text-align: center;
	padding: 5px;
	position: absolute;
	top:-5px;
	right: 5px;
	background: url('../images/discount.png') no-repeat center;
	background-size: cover;
	color: white;
}

.discount p:first-child{
	line-height: 16px;
	font-size: 20px;
	padding: 10px 0px 0px 0px;
	margin: 0;
}

.discount p:last-child{
	font-size: 14px;
	padding: 3px 10px;
	text-transform: uppercase;
	margin: 0;
}



.explore .aside-2 {
	top: 50px;
	z-index: 9999;
}



.friends_liked {
	float: left;
	width: 100%;
	background-color: #e5e5e5;
	padding-top: 20px;
	padding-bottom: 40px;
}

.friends_liked h3 {
	text-align: center;
}

.filters {
	min-height: 105px;
	background-color: #fff;
}

.results {
	background-color: #f3f3f3;
	padding-top: 30px;
}

.filters {
	padding: 36px 20px;
}

.filters .form-control {
	width: 100%
}

.search {
	padding: 0;
}

.search input[type="submit"] {
	position: absolute;
	top: 14%;
	right: 2%;
	border: 0;
	background: url('../ico/search.png') no-repeat right;
	width: 20px;
	height: 20px;
}

.search input[type="search"]{
	border: 0px;
	height: 100%;
	width: 100%;
	padding-left: 5px;
}

.explore .trips-summary,
.create-from-offer {
	padding-top: 15px;
	margin: 18px auto;
	width: 290px;
}

.create-from-offer .dropdown-toggle {
clear: both;
display: block;
}

.trips-list {
	text-align: center;
	padding: 20px;
}

.create-from-offer {
	height: 100px;
	border: 2px dashed #2c2c2c;
}

.input-append .add-on {
	display: inline-block;
	width: auto;
	height: 20px;
	min-width: 16px;
	padding: 4px 5px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	background-color: #eeeeee;
	border: 1px solid #ccc;
}

.pagination>li>a, .pagination>li>span {
	background-color: transparent;
	border: 0;
	color: #939393;
}

.result-pages {
	text-align: center;
	padding: 20px;
}

.pagination {
	margin: 0;
}

.pagination>li {
display: inline-block;
}


/* ===== PROFILE =====
   =================== */ 



section.profile-data.pull-right {
	position: fixed;
	right: 0;
	overflow: scroll;
	background-color: #416772;
	width: 340px;
	height: 100%;
	margin-top: 50px;
	padding: 20px;
	color: #fff;
}

.past-trips {
	margin-top: 50px;
}


.past-trips .map-trips {
	height: 100%;
	position: relative;
	z-index: -9999;
}

.past-trips .map {
	width: 100%;
	position: absolute;
	top:40px;
	left: 0;
}

.past-trips div.section_title {
	height: 50px;
	background-color: #2c525d;
	text-align: center;
}

.past-trips .section_title p {
	position: relative;
	padding: 15px 0;
	color: #fff;
	margin: 0;
}

.past-trips .section_title p:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 8px solid #2C525D;
}

.past-trips .trips-summary {
	width: 290px;
	height: 105px;
	display: inline-block;
}

/*Profile*/


.edit-btn {
	background: url('../images/edit-profile.png') no-repeat center;
	width: 20px;
	height: 20px;
}

.profile_pic {
	clear: both;
	width: 197px;
	height: 197px;
	border-radius: 99px;
	border: 4px solid #fff;
	display: block;
	margin: 20px auto;
}

.user-info {
	text-align: center;
	margin-bottom: 40px;
}

.friend {
	margin-bottom: 20px;
	background-color: #F9F7F7;
	padding: 10px;
	color: #6C6C6C;
}


.user-friends h3 {
	text-align: center;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}

.user-friends img {
	float: left;
	margin-right: 20px;
}

.user-friends p {
	margin-bottom: 0;
}

.user-friends .form-control {
	width: 100%;
	position: relative;
}

.user-friends .pagination>li>a, .pagination>li>span {
	color: #fff;
}

.friends[data-friends="1"] li.friend_2,
.friends[data-friends="1"] li.friend_3,
.friends[data-friends="1"] li.friend_4,
.friends[data-friends="1"] li.friend_5,
.friends[data-friends="1"] li.friend_6 {
	display: none;
}

.friends[data-friends="2"] li.friend_3,
.friends[data-friends="2"] li.friend_4,
.friends[data-friends="2"] li.friend_5,
.friends[data-friends="2"] li.friend_6 {
	display: none;
}

.friends[data-friends="3"] li.friend_4,
.friends[data-friends="3"] li.friend_5,
.friends[data-friends="3"] li.friend_6 {
	display: none;
}

.friends[data-friends="4"] li.friend_5,
.friends[data-friends="4"] li.friend_6 {
	display: none;
}

.friends[data-friends="5"] li.friend_6 {
	display: none;
}

.profile .result-pages {
	padding: 0;
}

.user-friends .search input[type="search"]{
	color: #fff;
}

.profile input,
.profile select {
	background-color: #365c67;
	border-radius: 4px;
	height: 40px;
}

.edit_profile .form-control {
	display: block;
	width: 100%;
	color: #fff;
}

.edit_profile fieldset {
	margin-bottom: 20px;
}

.change_user_pic {
	position: relative;
}


.edit_profile .edit-btn {
	position: absolute;
	top: 47%;
	left:47%;
}

.end-editing {
	height: 40px;
}

.past-trips .trip-description p {
	padding-left: 26px;
	padding-top: 5px;
}

/* == ITINERARY PAGE ==
   =================== */ 




/* == MEDIA QUERIES ==
   =================== */ 















@media(max-width:767px) {
	
	/* General */

	.container {
		margin-top: 0 !important;
		margin-bottom: 50px;
	}

	p {
		font-size: 16px;
	}

	.crear-cont {
		padding: 20px;
	}

	.btn {
		width: 100%;
		height: 50px;
	}

	.explore .results {
		background-color: #2c525d;
		padding-left: 20px;
		padding-right: 20px;
	}

	.explore .friends_liked {
		padding-left: 20px;
		padding-right: 20px;	
	}

	.explore article {
		margin-bottom: 20px;
	}

	.explore .filters {
		background-color: #f3f3f3;
	}

	.explore .filters fieldset,
	.explore .filters select,
	.explore .filters #dates {
		height: 45px;
	}

	.container {
		padding: 0px;
		margin-top: -10px;

	}

	.width25-xs {
		width: 25%;
	}


	/* primary-menu */

	.primary-menu {
		width: 100%;
		display: inline;
		position: fixed;
		bottom: 0;
		background-color: rgb(42, 176, 185);
		clear: both;
		margin-left: -5px;
	}

	.primary-menu ul {
		margin: 0 auto;
	}

	.primary-menu li {
		float: left;
		padding: 0;
	}

	.primary-menu li a {
		text-align: center;
	}

	.primary-menu li a .icon {
		display: block;
		margin: 0 auto;
	}


	/* secondary-menu */

	.crear-cont {
		position: inherit;
		margin: 10px 0;
	}

	.crear-cont button {
		height: 50px;
	}


	/* modulos */


	.modules {
		padding: 0;
	}
	.ongoing .modules article {
		padding: 0;
	}

	section.modules.trips {
		background-color: #fff;
		padding: 10px;
	}

	.ongoing article .panel {
		margin-bottom: 0;
	}

	.ongoing article .panel-footer{
		display: none;
	}

	.ongoing article .panel-body {
		background-color: transparent;
	}

	.ongoing article .panel {
		background-color: transparent;
	}

	/*Ongoin*/

	.ongoing-tabs {
		overflow-x: scroll; 
		width: 547px;
		margin: 0;
	}

	.ongoing-tabs li {
		display: inline-block;
		padding: 0 10px;
	}

	#content-itinerary.modal {
		z-index: 999 !important;
		top:50px;
	}

	#content-itinerary .modal-body {
		padding: 0;
	}

	#content-itinerary .modal-dialog {
		margin: 0;
	}

	#content-itinerary .modal-content {
		border: 0;
		border-radius: 0
		webkit-box-shadow: 0:;
		box-shadow: 0;
		-webkit-background-clip: none;
		background-clip: none; 
	}

	#content-itinerary .timeline {
		margin-top: -56px;
	}

	#content-itinerary  .ico-timeline-ball {
		top: 84px;
		crealeft: 7px;
	}

	/*trips*/
	.ico-details {
	background: url('../ico/details-blue.png') no-repeat right;
	}

	.details {
		background-color: #fff;
		color: #2c525d;
		padding: 35px 20px 35px 20px;
		height: 90px;
		color: rgb(42, 176, 185);
	}

	.planning section.aside {
		background-color: gray;
		padding: 10px;
	}

	.module_offers {
		width: 100%
	}

	.trip-card {
		height: 150px;
		margin-top: 10px;
		margin-bottom: 0;
	}

	.decided .trip-card {
		height: 110px;
	}

	.decided .trip-card .re-open {
		display: none;
	}

	.decided,
	.deciding {
		clear: both;
	}

	.planningCard {
		padding:34px 20px 10px 20px;
	}

	.planningCard img,
	.planningCard .step-info {
		display: inline-block;
	}

	.trip-card {
		text-align: left;
		height: 215
	}

	.trip-cards .deciding, .trip-cards .decided {
		text-align: left;
	}

	.trip-card h3 {
		padding-top: 0;
	}

	.trip-card img {
		float: left;
	margin-right: 20px;
	}

	.planningCard .comments-votes {
		margin: 19px 0 0 0;
	}

	.comments-votes p:first-child {
		float: left;
	}

	.comments-votes p:last-child {
		float: right;
	}	

	.options_admin {
		margin-top: 10px;
	}

	/*Create*/
	.add_steps_drag {
		position: static !important;
		padding: 0 !important;
		background: transparent;
		margin-bottom: 40px;
	}

	.add_steps_drag  .container p:first-child {
		padding: 20px;
	}

	.add_steps_drag .module-steps {
		height: auto;
		width: 100% !important;
		cursor: inherit;
	}

	.add_steps_drag p,
	.add_steps_drag h3 {
		text-align: center;
	}

	.create .container {
		margin-bottom: 0;
	}

	.create .basic-info {
		padding: 0 20px;
	}

	.create-trip-btn {
		margin: 20px auto 90px auto;
		width: 90%
	}
	
	.create-trip-btn a {
		display: block;
		padding: 12px 0;
	}

	.basic-info .create-trip-btn {
		width: 100%;
		margin: 10px 0;
	}

	.add_steps_drag p {
		padding: 0 20px;
	}

	.step-title {
	min-height: 50px;
}

}

@media(min-width:769px) {
	.filters {	
		margin-top: 20px;
	}

	.module-steps:last-child {
	border-bottom: 1px solid rgba(42, 176, 185, 0.70);
	}

	.pad0L-sm {
		padding-left: 0;
	}

	.pad0R-sm {
		padding-right: 0;
	}

	header {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	}

	.navbar-nav > li > a {
		padding-top: 14px;
		padding-bottom: 14px;
	}


	.crear-cont .btn {
	float: right;
	margin-top: 10px;
	width: 182px;
	}

	#main {
		transition: margin-left 0.5s ease;
		-webkit-transition: margin-left 0.5s ease;
	}

	#main.aside-visible {
		margin-left: -300px;
	}

	#aside-trigger {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99999;
	}

	.aside,
	.aside-2 {
		text-align: center;
		position: fixed;
		top: 100px;
		width: 340px;
		padding: 0;
		right: -300px;
		height: 100%;
		background-color: #f3f3f3;
		transition: all 0.5s;
	}

	#main.aside-visible .aside,
	#main.aside-visible .aside-2 {
		right: 0 !important;
	}

}

@media(min-width:768px) and (max-width: 991px) {
	.add_steps_drag {
		height: auto !important;
		right: 0 !important;
		overflow: auto !important;
	}
}

@media(min-width: 992px) {
	.pad0L-md {
		padding-left: 0;
	}

	.pad0R-md {
		padding-right: 0;
	}

	.pad5L-md {
		padding-left: 5px;
	}

	.pad5R-md {
		padding-right: 5px;
	}

	.add_steps_drag {
		right: 0 !important;
		transition: all 0s;
		overflow: hidden !important;
		overflow-Y: auto;
	}
}

@media(max-width: 1198px) {

	.hiden-xs-md {
		display: none;
	}

	.past-trips-content {
		padding: 0;
	}

	.user-info {
		margin-top: 50px;
		padding: 20px 20px 0 20px;
		color: #fff;
	}

	.edit_profile {
		margin-top: 50px;
		padding: 20px;
		text-align: center;
	}

	.edit_profile fieldset,
	.edit_profile select {
		width: 290px;
		margin: 0 auto;
	}

	.profile input,
	.profile select {
	background-color: rgba(66, 67, 68, 0.25);
	}

	.end-editing {
		width: 290px;
		margin: 20px auto;
	}

	.past-trips .section_title {
		display: none;
	}

	.past-trips {
		background-color: #f3f3f3;
		padding: 40px;
		margin-top: 0;

	}

	.user-friends {
		background-color: #416772;
	}

	.past-trips .map-trips {
		z-index: 0;
	}

	.past-trips .ico-location {
		display: none;
	}

	.past-trips .trips-summary {
		width: 100%
	}

	.user-friends h3 {
		display: none;
	}

	.user-friends {
		padding: 40px;
	}
	
}

@media(min-width: 1199px) {

	.hidden-lg {
	display: none;
	}

	#trip1 {
	position: absolute;
	top: 58%;
	right: 51%;
	}

	#trip2 {
		position: absolute;
		top: 60%;
		right: 3%;
	}

	#trip3 {
		position: absolute;
		top: 34%;
		right: 32%;
	}
}

@media(max-width: 1340px) {
	.add_steps_drag {
		position: fixed;
		bottom: 0px;
	}

	.add_steps_drag p {
		margin-bottom: 20px;
	}

	.add_whats_drag {
		position: fixed;
		bottom: 0px;
		width: 100%;
		padding-left: 20px;
	}

	.module-steps {
		display: inline-block;
	}

	.explore .aside-2 {
		display: none;
	}

	.explore .container {
		margin-left: auto !important;
		margin-right: auto;
	}

	.module-steps:nth-child(3) {
	border-bottom: 1px solid rgba(42, 176, 185, 0.70);
	}
}

@media(min-width:1341px) {

	#aside-trigger {
		display: none;
	}

	#main.aside-visible {
		margin-left: 0 !important;
	}

	.aside .chat,
	.aside .module_offers {
		opacity: 1;
	}

	.hidden-xlg {
		visibility: hidden !important;
		display: none !important;
	}

	.visible-xlg {
		visibility: visible !important;
	 	display: inherit !important;	
	}

}

@media(min-width:768px) and (max-width:1340px) {

	.aside .chat,
	.aside .module_offers {
		opacity: 0;
		transition: opacity 0s;
	}

	.aside-visible .aside .chat,
	.aside-visible .aside .module_offers {
		opacity: 1;
	}
}



/** CAMBIOS BOOTSTRAP


@grid-gutter-width: 10px;

**/

