div.surfing {
	background-image: url('../../images/upcoming/surfinBKG.png');
	background-repeat: no-repeat;
	-moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;	
}

div.granada {
	background-image: url('../../images/upcoming/granadaBKG.png');
	background-repeat: no-repeat;
	-moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;	
}

div.newYork {
	background-image: url('../../images/upcoming/NYBKG.png');
	background-repeat: no-repeat;
	-moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;	
}

.surfing h2, .newYork h2, .granada h2{
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
	font-weight:400;
	color: #fff;
}

.surfing p, .newYork p, .granada p{
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: bottom;
	color: #fff;
}

.surfing strong, .newYork strong, .granada strong{
	color: #fff;
	}

.surfing .bottomRow, .newYork .bottomRow, .granada .bottomRow{
	position:relative;
	top: 25%;
	border-bottom: 1px solid #939393;
	border-right: 1px solid #939393;
	-webkit-box-shadow: 2px 1px 2px 2px rgba(0,0,0,.2);
	box-shadow: 2px 1px 2px 2px rgba(0,0,0,.2);
	background-color: white;
	border-radius:3px;
}

.surfing .control-large{
	display: inline-block;
}

.surfing button{
	background-color: #ef5350;
	border:none;
	border-radius: 2px;
	margin: 25px 2px 25px 2px;
}

 .upcomingCard{
	background-color: white;
	text-align: center;
	height: 150px;
	-webkit-box-shadow: 2px 1px 2px 2px rgba(0,0,0,.1);
	box-shadow: 2px 1px 1px 1px rgba(0,0,0.1);

}

.trip-to-vote.unclicked {
	height: 100%;
	background-color: #fff;
}

.trip-to-vote.unclicked p {
	color: rgb(105, 104, 104);	
}

.trip-countdown.unclicked {
	height: 100%;
	background-color: #fff;
}
.trip-countdown.unclicked p {
	padding-top: 14%;
	color: rgb(105, 104, 104);
}

.surfing div.col-md-2{
	position:relative;
	top:-30px;
	height:100px;
}

.surfing div.middleRow{
	background-color:#f3f3f3;
}

